<div id="new-board-form-container">
  <h3 style="text-align:center;margin-top:0"><small>Create Board</small></h3>
  <form id="new-board-form">
    <label for="board[title]">Title</label><br>
      <input class="form-control" type="text" name="board[title]">
    <br>
    <input type="submit" value="Create" class="btn btn-success">
    <button id="cancel-form-button" class="btn btn-success">Cancel</button>
  </form>
</div>
