// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: sans-serif;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.sidebar {
  border-right: 1px solid black;
}

.content, .sidebar {
  float: left;
  padding: 0 10px;
}
