<form id="new-list-form">
  <input class="form-control" type="text" name="list[title]"
    placeholder="Add a list...">
  <br>
  <input type="submit" value="Save" class="btn btn-success">
  <button id="cancel-form-button" class="btn btn-success">Cancel</button>
</form>
