<div class="clearfix">
  <div class="list-title">
    <strong><%= list.get('title') %></strong>
  </div>
  <div class="list-delete">
    <div class="glyphicon glyphicon-remove delete-list"></div>
  </div>
</div>
<div class="card-index"></div>
<a href="javascript:void(0)">
  <div class="new-card-link">
    Add a card...
  </div>
</a>
